@tailwind base;
@tailwind components;
@tailwind utilities;

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.box-border {
  border-right: 0.625rem solid #ed1c24;
  color: #ed1c24;
}

/* Responsive styles */
@media screen and (max-width: 640px) {
  .toggleSidebarBtn {
    position: fixed;
  }

  .headerDiv {
    flex-direction: column;
  }

  .headerOne {
    /* display: none; */
    display: flex;
    flex-direction: column;
  }

  .headerTwo {
    display: none;
    /* display: flex; */
    /* flex-direction: column; */
  }
}
